/*-------------------
    VARIABLES
-------------------*/
:root {
   // Colors
   --primary-color-200: #00418e;
   --primary-color-300: #143a50;
   --primary-color: #14213d;

   --secondary-color: #3dff4d;

   --accent-color: #fca311;

   --neutral-color-100: #fff;
   --neutral-color-200: #e5e5e5;
   --neutral-color-600: #111111;
   --neutral-color-800: #070707;
   --neutral-color-900: black;

   --header-height: 55px;
}
